{% extends '_base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/vote">Vote Service</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ poll.Title }}</li>
  </ol>
</nav>


<h2>
    {{ poll.Title }} 
    <small class="text-muted">/ Poll ID #{{ poll.PollID }}</small>
</h2>

<div class="d-flex">
    <div class="flex-grow-1">
        <h4><span class="badge badge-info">{{ poll.Status }}</span></h4>
    </div>

    {% if poll.Content %}

    <div class="">
        <h4><a href="/vote/{{ poll.PollID }}/new" class="btn btn-primary">Submit a Vote</a></h4>
    </div>

    {% endif %}
</div>



<div class="card m-4">
    <div class="card-header">
        Summary
    </div>
    <div class="card-body row">
        <div class="col">
            <div class="p-2">
                <h5>Description</h5>
                <p>This is a description of the poll. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            </div>
        </div>
        <div class="col">

            <div class="p-2">

                <!-- More Info section -->
                <h5>More Info</h5>

                {% if poll.Content %}

                <div class="d-flex bd-highlight">
                    <div class="p-1 flex-grow-1 bd-highlight"><strong>Number of votes</strong></div>
                    <div class="p-1 bd-highlight">{{ poll.NumVotes }}</div>
                </div>

                <div class="d-flex bd-highlight">
                    <div class="p-1 flex-grow-1 bd-highlight"><strong>Start date</strong></div>
                    <div class="p-1 bd-highlight">1/15/2021</div>
                </div>

                <div class="d-flex bd-highlight">
                    <div class="p-1 flex-grow-1 bd-highlight"><strong>Close date</strong></div>
                    <div class="p-1 bd-highlight">1/30/2021</div>
                </div>

                {% else %}

                <p><strong>Access restricted</strong></p>

                {% endif %}

                <!-- Private Content section -->
                <h5 class="pt-4">Poll Choices</h5>

                {% if poll.Content %}

                <div class="d-flex bd-highlight">
                    <div class="p-1 flex-grow-1 bd-highlight"><strong>Choices</strong></div>
                    <div class="p-1 bd-highlight">{{ poll.Content.content }}</div>
                </div>

                {% else %}

                <p><strong>Access restricted</strong></p>

                {% endif %}

            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <th scope="col">Voter ID</th>
        <th scope="col">Voter Age</th>
        <th scope="col">Voter Sex</th>
        <th scope="col">Link</th>
    </thead>

    {% if poll.Content %}
    <tbody>
        {% for vote in votes %}
        <tr>
            <td>{{ vote.Record.voterID }}</td>
            <td>{{ vote.Record.voterAge }}</td>
            <td>{{ vote.Record.voterSex }}</td>
            <td><a href="/vote/{{ poll.PollID }}/{{ vote.Record.voterID }}" class="btn btn-primary">View Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tbody>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
    {% endif %}
    
</table>

{% endblock content %}
